TABLE { border-width: 2 ; 
	border-style: solid ; 
	border-color: black ; 
	margin-top: 2ex ;
	cell-spacing: 0;
	cell-padding: 0;
	}
	
TABLE.MAINRESULT { border-style: none ;
			margin-top: 2ex ;}

TD { 	border-width: 1;  
	border-style: solid ; 
	border-color: black ; 
	padding: 2;
	spacing: 0;
	margin: 0; }

BODY { font-family_: Arial ; font-size_: 11pt ;}

.OUTPUT {	border-width: 1 ; 
		border-style: dashed ;
		border-color: black;
		font-family: courier;
		font-size: 80%;
		padding: 5;
		margin: 5;
	}
.OUTPUTTITLE {	padding-top: 2ex ;
		text-decoration: underline ;
		}
ADDRESS	{	font-size: 80%;
		margin-top: 2ex;
		border-top-width: 1;
		border-top-style: solid;
		border-top-color: black:
	}
